@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
}
html, body {
	height: 100%;
}
body {
	background:#000000;
}
p {
	color: lime;
	padding: 10px;
}
h1{
	color: #00FF7F;
	text-shadow: 1px 5px 5px black, 0 0 5em red;
	font-size:40px;
	padding: 20px;
	text-align: center;
}
h2{
	color: #ADFF2F;
	text-shadow: 1px 1px 1px black, 0 0 1em red;
	font-size:20px;
	padding-top: 40px;
	text-align: center;
}
h2:hover {
	color: #000000;
	text-shadow: 1px 1px 1px black, 0 0 1em red;
	font-size:20px;
	padding-top: 40px;
	text-align: center;
}

a {
	color:lime;
	text-decoration:none;
}
a:visited {
	color:lime;
	text-decoration:none;
}
a:hover {
	color:#FFFF00;
	text-decoration:line;
}
.iphoto {
	float: left;
	border:3px solid #666;
	margin: 10px;
}

/*CASCADE*/
.wrapper {
	background:url(img/indwwww.png) center;
	min-height: 100%;
	height: auto  !important;
	height: 100%;
	width: 1000px;
	margin:auto;
	border-left:green solid 1px;
	border-right:green solid 1px;
}
header {
	background: url(img/header.png);
	background-color:#000000;
	height: 100px;
	width: 1000px;
}
.menu {
	border: 0px solid red;
	background:transparent;
	float: left;
	width: 150px;
}
.content {
	padding-bottom: 100px;
	border: 0px solid yellow;
	margin-left: 30px;
	float: left;
	width:800px;
	height: 100%;
}

footer {
	background: url(img/footer.png);
	height: 100px;
	width: 1000px;
	margin:auto;
	margin-top: -100px;
}